@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Homemade+Apple&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --main-font: 'Agdasima', sans-serif;
    --cursive-font: 'Homemade Apple', serif;
}
.main-container{
    height: 100vh;
    width: 100vw;
    background: url(./images/bg.jpg) center center no-repeat;
    display: relative;  
}

header{
    font-family: var(--cursive-font);
    font-size: 30px;
    text-align: center;
    color: rgb(148, 0, 0);
}
.player-modal{
    position: absolute;
    top:0;
    left:0;
    display: flex;
    font-family: var(--main-font);
    color: white;
    font-size: 2em;
    background-color: rgba(141, 4, 4, 0.514);
    height: 100%;
    width: 100%;
}

.choose-value{
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    text-align: center;   
}

.cv-header h3{
    font-weight: 400;
    font-size: 1em;
}

.values{
    display: flex;
    gap:0.5em;
    margin-top: 0.5em;
}
.value{
    cursor: pointer;
    width: 200px;
    height: 100px;
    background-color: rgb(148, 0, 0);
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    border: none;
    color: white;
    font-family: var(--main-font);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.205);
}
.value:hover{
    background-color: rgb(49, 49, 49);
}
.value:active{
    background-color: rgb(49, 49, 49);
}

.cv-input{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-family: var(--main-font);
}
.cv-input label{
    margin-bottom: 0.5rem;
}
.name-input{
    font-size: 16px;
    margin-bottom: 0.5rem;
    border: none;
    height: 30px;
    border-radius: 0.5rem;
    padding: 5px 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.205);
}

.name-input:focus{
    appearance: none;
    border: none;
    outline: none;
}
.cv-input button {
    cursor: pointer;
    border: none;
    height: 2em;
    font-size: 20px;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.205);
    font-family: var(--main-font);
    font-size: 1.5rem;    
}
.cv-input button:hover {
    background-color: rgb(68, 68, 68);
    color: white;
}
.player-modal.inactive{
    display: none;
}

.fight-modal{
    background-color: rgba(0, 0, 0, 0.205);
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: rgb(148, 0, 0);
    font-family: var(--main-font);
    font-size: 2.5em;
    transition: 0.4s;
}

.fight-modal.inactive{
    display: none;
    transition: 0.4s;
}

.fight-container{
    position: absolute;
    top:25%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.game-board{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    place-content: center;
    gap: 0.5em;
}
.turn{
    font-family: var(--main-font);
    font-size: 50px;
    color: rgb(139, 31, 31);
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-board .inactive{
    display: none;
}
.game-board .block{
    border: none;
    font-family: var(--main-font);
    font-size: 80px;
    background-color: rgb(248, 248, 248);
    box-shadow: 4px 4px 5px rgba(8, 7, 7, 0.5);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    color: rgb(139, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer a{
    text-decoration: none;
    color: rgb(139, 31, 31);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
