@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Homemade+Apple&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --main-font: 'Agdasima', sans-serif;
    --cursive-font: 'Homemade Apple', serif;
}
.main-container{
    height: 100vh;
    width: 100vw;
    background: url(./images/bg.jpg) center center no-repeat;
    display: relative;  
}

header{
    font-family: var(--cursive-font);
    text-align: center;
    color: rgb(148, 0, 0);
}

header h1{
  padding-top: 25px;
  font-size: 3.8rem;
}

.player-modal{
    position: absolute;
    top:0;
    left:0;
    display: flex;
    font-family: var(--main-font);
    color: white;
    font-size: 2em;
    background-color: rgba(141, 4, 4, 0.603);
    height: 100%;
    width: 100%;
    z-index: 2;
}

.choose-value{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    text-align: center;   
}

.cv-header h3{
    font-weight: 400;
    font-size: 1em;
}

.values{
    display: flex;
    gap:0.5em;
    margin-top: 0.5em;
}

.input-container{
    position: relative;
    width: 150px;
    height: 70px;
}

.input-container input{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 5;
    opacity: 0;
}

.input-container label{
    position: absolute;
    width: 100%;
    height: 100%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    color: white;
    font-family: var(--main-font);
    background-color: rgb(48,48,48);
    border-radius: 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.205);
}

input:checked+label{
    background-color: rgb(148, 0, 0);
    border: 3px solid white;
    color: white;
    font-weight: 700;
    box-shadow: 0px 0px 30px rgb(255, 255, 255);
}

input:hover+label{
    background-color: rgb(240, 110, 110);
    transition: 0.3s;
}


.start-game{
    border:  none;
    font-size: 28px;
    font-family: var(--main-font);
    background-color: white;
    width: 100%;
    height: 3rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-top: 1em;
}

button:hover{
    transition: 0.3s;
    background-color:rgb(148, 0, 0);;
    color: white;
}

.cv-input{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-family: var(--main-font);
}
.cv-input label{
    margin-bottom: 0.5rem;
}
.name-input{
    font-size: 16px;
    margin-bottom: 0.5rem;
    border: none;
    height: 30px;
    border-radius: 0.5rem;
    padding: 5px 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.205);
    z-index: 5;
}

.name-input:focus{
    appearance: none;
    border: none;
    outline: none;
}
.cv-input button {
    cursor: pointer;
    border: none;
    height: 2em;
    font-size: 20px;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.205);
    font-family: var(--main-font);
    font-size: 1.5rem;    
}
.cv-input button:hover {
    background-color: rgb(68, 68, 68);
    color: white;
}
.player-modal.inactive{
    display: none;
}

.fight-modal{
    background-color: rgba(0, 0, 0, 0.205);
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: rgb(148, 0, 0);
    font-family: var(--main-font);
    font-size: 1.5rem;
    transition: 0.4s;
}

.fight-modal.inactive{
    display: none;
    transition: 0.4s;
}

.fight-container{
    background-color: black;
    width: 50vw;
    height: 50vh;
    border-radius: 1rem;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.fight-container button{
    margin-top: 2rem;
    cursor: pointer;
    border: none;
    height: 2em;
    font-size: 20px;
    width: 80%;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.205);
    font-family: var(--main-font);
    font-size: 1.5rem; 
}
.fight-container button:hover {
    background-color: rgb(68, 68, 68);
    color: white;
}
/* block off the text area */
.text-area{
    margin-top: -30px;
    height: 140px;
}

.difficulty{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.difficulty.inactive{
    display: none;
}

.text-area.inactive{
    height: 100px;
}


.text-area .input-container{
    width: 100px;
    height: 50px;
}
.text-area label{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.game-board{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    place-content: center;
    gap: 0.5em;
}


.turn{
    font-family: var(--main-font);
    font-size: 50px;
    color: rgb(139, 31, 31);
    display: flex;
    align-items: center;
    justify-content: center;
}
.restart-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.restart-div.inactive{
    display: none;
}
.restart{
    border:  none;
    font-size: 28px;
    font-family: var(--main-font);
    margin-top: 1em;
    background-color: white;
    width: 300px;
    height: 3rem;
    border-radius: 1rem;
    cursor: pointer;
    margin: 1rem;
}
.game-board .inactive{
    display: none;
}
.game-board .block{
    border: none;
    font-family: var(--main-font);
    font-size: 80px;
    background-color: rgb(248, 248, 248);
    box-shadow: 4px 4px 5px rgba(8, 7, 7, 0.5);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    color: rgb(139, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.footer p{
    color: rgb(139, 31, 31);
}
.footer a{
    text-decoration: none;
    color: rgb(139, 31, 31);   
}
